ClientWebService/src/wsdl/192.168.20.78_53535/WebServices/DocumentService.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DownLoadDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownLoadDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownLoadDocumentResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWord">
        <s:complexType />
      </s:element>
      <s:element name="HelloWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownLoadDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:DownLoadDocument" />
  </wsdl:message>
  <wsdl:message name="DownLoadDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:DownLoadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWordSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWord" />
  </wsdl:message>
  <wsdl:message name="HelloWordSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWordResponse" />
  </wsdl:message>
  <wsdl:portType name="DocumentServiceSoap">
    <wsdl:operation name="DownLoadDocument">
      <wsdl:input message="tns:DownLoadDocumentSoapIn" />
      <wsdl:output message="tns:DownLoadDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <wsdl:input message="tns:HelloWordSoapIn" />
      <wsdl:output message="tns:HelloWordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentServiceSoap" type="tns:DocumentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownLoadDocument">
      <soap:operation soapAction="http://tempuri.org/DownLoadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <soap:operation soapAction="http://tempuri.org/HelloWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DocumentServiceSoap12" type="tns:DocumentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownLoadDocument">
      <soap12:operation soapAction="http://tempuri.org/DownLoadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWord">
      <soap12:operation soapAction="http://tempuri.org/HelloWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentService">
    <wsdl:port name="DocumentServiceSoap" binding="tns:DocumentServiceSoap">
      <soap:address location="http://192.168.20.78:53535/WebServices/DocumentService.asmx" />
    </wsdl:port>
    <wsdl:port name="DocumentServiceSoap12" binding="tns:DocumentServiceSoap12">
      <soap12:address location="http://192.168.20.78:53535/WebServices/DocumentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>